*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/smartfox_info.xml
/.idea/workspace-冲突-sca_tl_Win10.xml
/key.jks
/key.txt
/app/src/main/java/com/scatl/uestcbbs/api/ApiConstant1.java
/release/
