<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scatl.util">

    <application>

        <activity
            android:name=".download.DownloadActivity"
            android:theme="@style/CsuTransparentActivity"/>

        <activity
            android:name=".video.VideoPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"/>

        <service
            android:name=".download.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".download.DownloadFileProvider"
            android:authorities="com.scatl.util.download.downloadFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/csu_download_file_paths" />
        </provider>

    </application>

</manifest>